/linkshortener/linkshortener-api/target/
/linkshortener/linkshortener-dao/target/
/linkshortener/linkshortener-model/target/
/linkshortener/linkshortener-util/target/
/linkshortener/linkshortener-service/target/
/linkshortener/linkshortener-web/target/